@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

:root {
  #app{
    // align content in the middle
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html{
    height: 100%;
  }
  body {
    // background gradient green
    background: linear-gradient(230deg, #a3f2e3 0%, #159c6d 100%);
    font-family: 'Abel', sans-serif;
    height: 100%;
  }

  .tag{
    // uppercase
    text-transform: uppercase;
    cursor: pointer;
  }

  --el-color-primary: #159c6d !important;
}